[*.cs]

# .netstandard2.0のために無効化
dotnet_diagnostic.IDE0090.severity = silent
dotnet_diagnostic.IDE0028.severity = silent
dotnet_diagnostic.IDE0057.severity = silent
dotnet_diagnostic.IDE0300.severity = silent
dotnet_diagnostic.IDE0074.severity = silent
